<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="message" text-center>Please Enter Your Credentials</p>
    <ion-list inset>
      <ion-item>
        <ion-input placeholder="Email" name="username" id="loginField" type="text" required
                   [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" name="password" id="passwordField" type="password" required
                   [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button full color="light" (click)="openRegisterPage()">Register</button>
      </ion-col>
      <ion-col>
        <button ion-button class="submit-btn" color="secondary" full (click)="loginUser()">Login</button>
      </ion-col>
    </ion-row>
</ion-content>
