<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>RegisterPage</ion-title>
  </ion-navbar>

</ion-header>

bro data fetch gardai rakh
<ion-content padding>
    <ion-item>
      <ion-input type="text" placeholder="Enter name" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Enter Email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Repeat Password" [(ngModel)]="confirm" name="confirm" required></ion-input>
    </ion-item>
    <button ion-button full  color="secondary" (click)="registerUser()">Register</button>
</ion-content>
