<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Favorite" tabIcon="ios-bookmark-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Account" tabIcon="ios-contact-outline"></ion-tab>
</ion-tabs>
