<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorite lists</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let property of properties" tappable (click)="openDetailsPage(property)">
      <ion-item class="property_list_img" [style.backgroundImage]="'url('+baseUrl + property.image +')'" *ngIf="property.image;else other_img"></ion-item>
      <ng-template #other_img>
        <img class="property_list_img" src="assets/imgs/default_image.png">
      </ng-template>
      <ion-item>
        <p class="message">Price: {{property.price}}</p>
        <h5><b>{{property.name}}</b></h5>
      </ion-item>
    </ion-card>
  <ion-list *ngIf="!properties">
      <p class="message" text-center> Your shortlist is empty.</p>
  </ion-list>
</ion-content>
