<!--
  Generated template for the LocalityAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Locality Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-searchbar placeholder="Enter Locality" type="text" [(ngModel)]="locality" required
                 (ionInput)="searchPlace()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>
  <h5 text-center>Mark Address on Map</h5>
  <ion-grid>
    <!--<ion-row>-->
    <ion-list>
      <!--<ion-item>-->

      <!--</ion-item>-->
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Landmark</ion-label>
        <ion-input type="text" [(ngModel)]="landmark"></ion-input>
      </ion-item>
    </ion-list>
    <!--</ion-row>-->
  </ion-grid>
  <button ion-button full (click)="submitProperty()" color="secondary" class="saveBtn">Save and Continue</button>
</ion-content>
