<!--
  Generated template for the ImageUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload Image</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img src="{{myphoto}}" style="width: 100%"  (click)="presentActionSheet()">
  <p class="message" text-center>Upload a picture of your property</p>
  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-buttons>
        <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
        <button ion-button icon-left (click)="uploadImage()" [disabled]="myphoto === null">
          <ion-icon name="cloud-upload"></ion-icon>Upload
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
