<ion-header>
  <ion-navbar >
    <ion-searchbar placeholder="Enter locality" [(ngModel)]="locality" type="text" (click)="openSearchPage()"></ion-searchbar>
  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <ion-card *ngFor="let property of properties" tappable (click)="openDetailsPage(property)">
    <ion-item class="property_list_img" [style.backgroundImage]="'url('+baseUrl + property.image +')'" *ngIf="property.image;else other_img"></ion-item>
    <ng-template #other_img>
      <img class="property_list_img" src="assets/imgs/default_image.png">
    </ng-template>
    <ion-item>
      <p class="message">Price: {{property.price}}</p>
      <h5><b>{{property.name}}</b></h5>
      <p class="message">{{property.distance}} KM from {{locality}}</p>
    </ion-item>
  </ion-card>
</ion-content>
