<!--
  Generated template for the ProfileDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <img class="image" src="{{myphoto}}" (click)="presentActionSheet()">
  </ion-item>
  <ion-list>
    <ion-list-header class="profile">
      Details
    </ion-list-header>
    <ion-item>
      <ion-label color="secondary" floating>Full Name:</ion-label>
      <ion-input [(ngModel)]="name" >></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Email:</ion-label>
      <ion-input type="email"  [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Address:</ion-label>
      <ion-input  [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Phone No:</ion-label>
      <ion-input type="number"  [(ngModel)]="phonenumber"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full color="secondary" (click)="onSaveChange()">Done</button>
    </ion-item>
  </ion-list>
  <ion-list>
  </ion-list>
</ion-content>
