page-profile-data {
  //.image {
  //  width: 100px;
  //  height: 100px;
  //  border-radius: 50%;
  //  float: left;
  //  background-size: cover;
  //  background-position: center center;
  //  margin-left:105px;
  //  margin-bottom: 25px;
  //  position: relative;
  //
  //}
  //.profile{
  //  background: #eeeeee;
  //}
}



