<ion-header>
  <ion-navbar>
    <ion-title>Filter</ion-title>
  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <ion-card text-center no-lines no-border style="box-shadow: none">
    <ion-row radio-group [(ngModel)]="type">
      <ion-col>
        <ion-item>
          <ion-label>For sale</ion-label>
          <ion-radio value="sale"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>For rent</ion-label>
          <ion-radio value="rent" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
        <ion-label>Price Range</ion-label>
        <ion-range dualKnobs="true" [(ngModel)]="price">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5000</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
    <button text-center ion-button (click)="filterProperties()" color="primary">Filter</button>
  </ion-card>
</ion-content>
