<!--
  Generated template for the PostSuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Success</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p class="message" text-center> Congratulations! you have successfully listed your property.</p>
  <button ion-button full (click)="openHomePage()" color="secondary"> Alright</button>
</ion-content>
