<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card text-center>
    <ion-item class="avatar" [style.backgroundImage]="'ur('+  myphoto + ')'"></ion-item>
  </ion-card>
  <button ion-button color="primary" (click)="openProfileDataPage()"> Edit</button>
  <ion-list>
    <ion-list-header class="profile">
      Details
    </ion-list-header>
    <ion-item>Full name: {{user_data.name}}</ion-item>
    <ion-item>Email: {{user_data.email}}</ion-item>
    <ion-item>Address:</ion-item>
    <ion-item>Phone: {{user_data.profile.phone}}</ion-item>

  </ion-list>
  <ion-list>
    <ion-list-header class="post">
      Your posted property image
    </ion-list-header>
    <ion-img class="avatar" src="'url(assets/imgs/default_image.png)'"></ion-img>
  </ion-list>
</ion-content>

