page-profile {
  .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-left: 105px;
    margin-bottom: 10px;
    position: relative;

  }
  .profile {
    background: #eeeeee;
  }
  .post {
    background: #eeeeee;
  }
  .img {
    height: 200px;
    width: 200px;
  }
}


