<ion-header>
  <ion-navbar>
    <ion-item item-left style="background-color: transparent;" no-border no-margin no-lines no-padding
              (click)="openSelectCityPage()">
      <ion-title>
        <p class="white">Select City</p>
        {{city}}
      </ion-title>
    </ion-item>

    <ion-buttons end>
      <button ion-button right (tap)="openSearchPage()">
        <ion-icon name="search" class="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding (ionScroll)="handleScroll($event)" class="bg-dim">
  <ion-toolbar>
    <ion-searchbar
      #searchInput
      (tap)="openSearchPage()">
    </ion-searchbar>
  </ion-toolbar>
  <p class="head-text">Recent Posts</p>
  <ion-scroll scrollX="true" class="slides">
    <ion-card class="slide-scroll-item" *ngFor="let property of properties" (click)="openDetailsPage(property)">
      <span class="newMarker">Latest</span>
      <ion-grid class="slider-grid">
        <ion-row>
          <ion-col col-6>
            <h4 item-left text-wrap><b>{{property.name}}</b></h4>
            <p class="message">Price: Rs {{property.price}}</p>
          </ion-col>
          <ion-col col-6>
            <ion-item *ngIf="property.image;else default_img" [style.backgroundImage]="'url('+ baseUrl + property.image +')'" class="avatar" ></ion-item>
            <ng-template #default_img>
              <ion-item [style.backgroundImage]="'url(assets/imgs/default_image.png)'" class="avatar"></ion-item>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-scroll>
  <ion-card style="box-shadow: none;" text-center *ngIf="showDemoBox">
    <ion-card-header>
      Welcome to the App
      <ion-icon name="close" style="float: right;" (tap)="showDemoBox=false"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <p>Learn how our app works. </p>
      <button ion-button color="secondary" (tap)="showDemo()">View now</button>
    </ion-card-content>
  </ion-card>
  <ion-card padding>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <h2>Want to post new Property/Rooms Ads?</h2>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/home-icon.png"/>
        </ion-col>
        <button ion-button full color="secondary" (click)="openBeginPostingPage()">Post your Property Ad</button>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
