page-home {
  .search {
    font-size: 18px;
    color:white;
    vertical-align: middle;
  }
  .white {
    color:white;
  }
  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }
  ion-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .bg-dim {
    background: #f2f2f2;
  }
  .img-circular{
    width: 200px;
    height: 200px;
    background-image: url('http://strawberry-fest.org/wp-content/uploads/2012/01/Coca-Cola-logo.jpg');
    background-size: cover;
    display: block;
  }
  .front-slides {
    height: auto;
  }
  .head-text{
    font-weight: 400;
    //color: #222;
    margin-left: 10px;
    font-size:16px;
    margin-bottom: 5px;

  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .toolbar-background {
    background-color: color($colors, primary);
  }
  .toolbar-title {
    color: white;
  }

  .block {
    border: 1px solid #f1f3f6;
    text-align: center !important;

    //padding:auto !important;
    vertical-align: middle;

  }
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slides {
    white-space: nowrap;
    height: 160px;
    overflow: hidden;
    //vertical-align: middle;
    //display: flex;

    .slide-scroll-item {
      height: 140px;
      width: 240px;
      //vertical-align: middle;
      display: inline-block;
      //margin-right: 1px;
      //margin-left: 1px;
      box-shadow: none;
    }
  }
  .slider-grid {
    //height: 100%;
    //justify-content: center!important;
  }

  .newMarker {
    padding: 3px 9px;
    font-size: .7em;
    background: #000;
    opacity: .7;
    top: 10px;
    left: 20px;
    color: white;
  }
}
