<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Property Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <p class="message" text-center padding>Fill your  personal detail and list your property with us </p>
  <!--<ion-card>-->
    <ion-grid>
      <!--<ion-row>-->
      <ion-list>
        <ion-item>
          <ion-label floating >Property/Room Name</ion-label>
          <ion-input type="text" [(ngModel)]="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-input type="text" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Price</ion-label>
          <ion-input type="number" [(ngModel)]="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Preferred-tentants</ion-label>
          <ion-select [(ngModel)]="preferredTenants">
            <ion-option>Family</ion-option>
            <ion-option>Girls</ion-option>
            <ion-option>Boys</ion-option>
            <ion-option>Anyone</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Furnishing</ion-label>
          <ion-select [(ngModel)]="furnishing">
            <ion-option >Semi Furnished</ion-option>
            <ion-option >Full Furnished</ion-option>
            <ion-option >Non Furnished</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Parking</ion-label>
          <ion-select [(ngModel)]="parking">
            <ion-option value="car">Car</ion-option>
            <ion-option value="bike">Bike</ion-option>
            <ion-option value="bike">Both</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Negotiable</ion-label>
          <ion-checkbox [(ngModel)]="negotiable"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label floating>Contact Number</ion-label>
          <ion-input type="number" [(ngModel)]="contactnumber"></ion-input>
        </ion-item>
      </ion-list>
      <!--</ion-row>-->
    </ion-grid>
  <!--</ion-card>-->
  <!--<ion-footer>-->
      <button ion-button full (click)="submitProperty()" color="secondary" class="saveBtn">Save and Continue</button>
  <!--</ion-footer>-->
</ion-content>
