<ion-header>
  <ion-navbar >
      <ion-searchbar placeholder="Enter locality" [(ngModel)]="locality" type="text" (click)="openSearchPage()"></ion-searchbar>
  </ion-navbar>

</ion-header>
<ion-content style="position:relative">
    <div #map id="map">
    </div>
  <div  class="slider-wrapper transparent-card">
    <ion-slides slidesPerView="1" (ionSlideDidChange)="slideChanged()" id="slides">
      <ion-slide *ngFor="let property of properties" >
        <ion-card tappable (click)="openDetailsPage(property)">
          <ion-grid class="slider-grid">
            <ion-row>
              <ion-col>
                <h4 item-left text-wrap><b>{{property.name}}</b></h4>
                <p class="message">Price: Rs {{property.price}}</p>
                <p class="message">{{property.distance}} KM from {{this.locality}}</p>
              </ion-col>
              <ion-col>
                <ion-item *ngIf="property.image;else default_img" [style.backgroundImage]="'url('+ baseUrl + property.image +')'" class="avatar" ></ion-item>
                <ng-template #default_img>
                  <ion-item [style.backgroundImage]="'url(assets/imgs/default_image.png)'" class="avatar"></ion-item>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
</ion-content>
