page-map {
  .transparent-card{
    background-color: transparent !important;
  }
  #map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .slider-wrapper {
    bottom:10px;
    position: absolute;
    width: 100%;
  }

  //#map:after {
  //  width: 22px;
  //  height: 40px;
  //  display: block;
  //  content: ' ';
  //  position: absolute;
  //  top: 50%; left: 50%;
  //  margin: -40px 0 0 -11px;
  //  background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
  //  background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
  //  pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  //}

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
  }

  .scroll {
    height: 100%;
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
