<!--
  Generated template for the LoginToProceedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LoginToProceed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
<button ion-button full block color="secondary" (click)="openLoginPage()">Login To Proceed</button>
</ion-content>
