<ion-tabs color="light">
  <ion-tab [root]="tab1Root" tabTitle="List" tabIcon="list" [rootParams]="params"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Map" tabIcon="navigate" [rootParams]="params"></ion-tab>
</ion-tabs>
