// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background-color: #000;
}
ion-header ion-icon.back-button-icon.icon {
  color: white;
}
.toolbar-title {
  //text-align: center;
  color: #fff;
}
.message {
color: #aaaaaa;
}
.saveBtn {
  height: 60px;
}

ion-select {
  max-width: 100%;
  width: 100%;
}

.item-select ion-label {
  max-width: 75px;
  min-width: 75px;
}

#select-option {
  margin-right: auto;
  width: 100%;
}
.property_list_img {
  width:100%;
  height:200px;
  background-size: cover;
  background: no-repeat center center;
}
.transparent-card{
  background-color: transparent !important;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  background-size: cover;
  background-position: center center;
}
