<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Listings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-card *ngFor="let property of properties">
    <ion-item class="property_list_img" [style.backgroundImage]="'url('+baseUrl + property.image +')'" *ngIf="property.image;else other_img"></ion-item>
    <ng-template #other_img>
      <img class="property_list_img" src="assets/imgs/default_image.png">
    </ng-template>
    <ion-item>
      <p class="message">Price: {{property.price}}</p>
      <h4>City: {{property.city}}</h4>
      <h5><b>{{property.name}}</b></h5>
    </ion-item>
  </ion-card>
</ion-content>
