<!--
  Generated template for the SelectCityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Select City</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background:#eeeeee;">
  <ion-card text-center no-border >
    <img src="assets/icon/city.png">
    <ion-item no-margin>
      <ion-label>Your city</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="city">
        <ion-option>Kathmandu</ion-option>
        <ion-option>Bhaktapur</ion-option>
        <ion-option>Lalitpur</ion-option>
        <ion-option>Pokhara</ion-option>
        <ion-option>Dharan</ion-option>
        <ion-option>Janakpur</ion-option>
        <ion-option>Biratnagar</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <button ion-button full color="secondary" (click)="onCitySelected()">Done</button>
</ion-content>
