<!--
  Generated template for the BeginPostingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Begin Posting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding text-center>
  <h4 text-center>Welcome!!</h4>
  <ion-card padding no-lines no-border>
    <ion-row>
      <ion-card-header text-center>
        Post your Property Free of Cost.
      </ion-card-header>
      <p text-center class="message">Just give us some basic information and list your Flat, Rooms, House and Apartment for rent or sale.</p>
      <img text-center class="image" src="assets/imgs/sale.png"/>
    </ion-row>
    <button ion-button full color="secondary" (click)="openFormPage()">Begin Posting</button>
    <h5 text-center>OR</h5>
    <h5 text-center>Let us know we will post on your behalf</h5>
    <h5 text-center style="color:#f58c8c">Contact us on 98123456789</h5>
  </ion-card>
</ion-content>
