<ion-header>
  <ion-navbar color="secondary">
    <ion-searchbar no-lines placeholder="Enter locality or places" type="text" [(ngModel)]="locality" required
                   (ionInput)="searchPlace()"> </ion-searchbar>
  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <!--<ion-navbar>-->
  <!--</ion-navbar>-->
  <div #pleaseConnect id="please-connect">
    <p class="message" text-center>Please connect to the Internet.</p>
  </div>
  <ion-card text-center no-lines no-border style="box-shadow: none">
    <ion-row radio-group [(ngModel)]="type">
      <ion-col>
        <ion-item>
          <ion-label>For sale</ion-label>
          <ion-radio value="sale"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>For rent</ion-label>
          <ion-radio value="rent" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item no-lines no-border>
      <p (click)="setNearBy()"><b><ion-icon name="pin" padding></ion-icon> Nearby Me</b></p>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>
  </ion-card>
</ion-content>
