<!--
  Generated template for the RoomListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>RoomListPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let property of properties">
      <ion-thumbnail item-left>
      <img class="rounded-img" src="{{baseUrl + property.image}}" *ngIf="property.image;else other_img">
      <ng-template #other_img>
        <img class="item" src="assets/imgs/default_image.png">
      </ng-template>
      </ion-thumbnail>
      <h2>{{property.name}}</h2>
      <h5>{{property.city}}</h5>
      <p>{{property.locality}}</p>
      <p style="color: #488aff"> Rs: {{property.price}}</p>
    <button ion-button clear item-end (click)="openDetailsPage(property)">View</button>
    </ion-item>
  </ion-list>

</ion-content>
