<!--
  Generated template for the TypeAndCityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Property</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding >
  <ion-card padding margin-vertical>
    <h3>Property Type</h3>
    <ion-row radio-group [(ngModel)]="type">
      <ion-col>
        <ion-item>
          <ion-label>For sale</ion-label>
          <ion-radio value="sale"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>For rent</ion-label>
          <ion-radio value="rent" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item no-padding>
      <h3>Select city</h3>
    </ion-item>
    <ion-item>
      <ion-label>Your city</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="city">
        <ion-option>Kathmandu</ion-option>
        <ion-option>Bhaktapur</ion-option>
        <ion-option>Lalitpur</ion-option>
        <ion-option>Pokhara</ion-option>
        <ion-option>Dharan</ion-option>
        <ion-option>Janakpur</ion-option>
        <ion-option>Biratnagar</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-footer>
    <button color="secondary" full ion-button class="saveBtn" (click)="submitProperty()">Save and Continue</button>
  </ion-footer>
</ion-content>
