<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
    <ion-buttons end >
      <button ion-button class="login-button"  *ngIf="user_data; else btn" (click)="openLoginPage()">{{user_data.name}}</button>
      <ng-template #btn>
        <button ion-button class="login-button" (click)="openLoginPage()">Login</button>
      </ng-template>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-item (click)="openProfilePage()">
    <ion-icon name="ios-contact-outline"></ion-icon>
    <span style="margin-left:10px">
    My Profile
  </span>
  </ion-item>

  <ion-item (click)="openMyListingsPage()">
    <ion-icon name="ios-list-outline"></ion-icon>
    <span style="margin-left:10px">
    My Listings
  </span>
  </ion-item>
  <ion-item (click)="openAboutPage()">
    <ion-icon name="happy"></ion-icon>
    <span style="margin-left:10px">
      About Room-Finder
    </span>
  </ion-item>
  <ion-item>
    <ion-icon name="share"></ion-icon>
    <span style="margin-left:10px">Share App</span>
  </ion-item>
    <ion-item *ngIf="user_data">

      <ion-icon name="md-log-out" ></ion-icon>
      <span style="margin-left:10px" (click)="logout()" >Logout</span>

    </ion-item>

  </ion-item>
</ion-content>
