page-account {
  //.toolbar-background {
  //  background-color: color($colors, primary);
  //  color: white;
  //}
  //.toolbar-title{
  //  color: white;
  //}
  .login-button{
    background: none;
    border: 1px solid white;
    color: white;
    border-radius:2px;
  }
}
.bg-dim {
  background: #f2f2f2;
}
