<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Room Details</ion-title>

  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <ion-item class="property_list_img" [style.backgroundImage]="'url('+baseUrl + property.image +')'" *ngIf="property.image;else other_img"></ion-item>
  <ng-template #other_img>
    <img class="property_list_img" src="assets/imgs/default_image.png">
  </ng-template>
  <ion-card no-padding no-margin no-lines no-border style="box-shadow: none">

  </ion-card>
  <ion-card padding>
    <ion-row>
      <ion-col>
        <p>Price: Rs {{property.price}}</p>
      </ion-col>
      <ion-col text-center (click)="addToFavorite(property.id)">
        <ion-icon name="ios-bookmark-outline"  ></ion-icon>
        <p class="message">Add to favorite</p>
      </ion-col>
    </ion-row>
    <h4><b>{{property.name}}</b></h4>
    <h5>City: {{property.city}}</h5>
    <h5>Description:</h5>
    <p class="message"> {{property.description}}</p>
    <h5 *ngIf="property.distance">Distance: {{property.distance}} from current locality</h5>
    <p class="message"><ion-icon name="pin"></ion-icon>{{property.address}}</p>
    <p class="call"> Contact no:{{property.contact}}</p>

  </ion-card>
  <ion-card>
    <a href="tel: {{property.contact}}" ion-button full>Contact Owner</a>
  </ion-card>
</ion-content>
